import("wavelets")
import("forecast")
import("parallel")
import("rugarch")
import("fracdiff")
import("datasets")
importFrom("FinTS","ArchTest")
importFrom("stats", "ts")
export(WaveletGARCHFit)
exportPattern("^[^\\.]")

