import("wavelets")
import("forecast")
import("parallel")
import("rugarch")
import("fracdiff")
import("datasets")
importFrom("FinTS","ArchTest")
importFrom("stats", "ts")
importFrom("methods", "new", "setClass")
exportClasses(autoarima)
S3method(print,WaveletGARCHFit)
S3method(print,WaveletGARCHFore)
export(WaveletGARCHFit)
export(WaveletGARCHFore)
exportPattern("^[^\\.]")

